<div class="card mt-5">
  <div class="card-header">
    <div class="btn-group btn-group-toggle" id="mapViews" data-toggle="buttons">
      <p>Select view </p>
      <label class="btn btn-light active" (click)="user()">
        <input type="radio" name="options" id="option1" autocomplete="off" checked > Users
      </label>
      <label class="btn btn-light" (click)="job()">
        <input type="radio" name="options" id="option2" autocomplete="off"> Jobs
      </label>
    </div>
  </div>
  <div class="card-body-blue">
    <div *ngIf="loading" class="lds-ring"><div></div><div></div><div></div><div></div></div>
    <div #chart id="chart"></div>
  </div>
</div>
