.small-tile {
    stroke: white;
    stroke-width: 2px;
}

.d3-tip {
    font-size: 14px;
    line-height: 1;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 20px;
}

.card-body-blue {
    background-color: #74B9FF;
    text-align: center;
}

.card-body-white {
  text-align: center;
  /* white bg by default */
}

#mapViews label {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#mapViews p {
    font-size: 1.25rem;
    padding-right: 1em;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #dfc;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #dfc transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    cursor: pointer;
}
