  <div>
    <h1><b>Career Oracle</b></h1>
  </div>


  <div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="http://teamd5.s3-website-us-east-1.amazonaws.com/#/home">
        <img src="assets/job_search.jpg" class="d-block w-100" alt="job search"></a>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <a href="http://teamd5.s3-website-us-east-1.amazonaws.com/#/sunburst">
        <img src="assets/career_path.jpg" class="d-block w-100" alt="career path"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Career paths leading to your target job</h5>
        </div>
      </div>
      <div class="carousel-item">
        <a href="http://teamd5.s3-website-us-east-1.amazonaws.com/#/profile">
        <img src="assets/neural_network.jpg" class="d-block w-100" alt="job recommendation"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Job recommendations tailored to you</h5>
        </div>
      </div>
      <div class="carousel-item">
        <a href="http://teamd5.s3-website-us-east-1.amazonaws.com/#/home">
        <img src="assets/Education.jpg" class="d-block w-100" alt="education background"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Statistics on background of your peers</h5>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<html>
<title>Career Oracle Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="assets/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
<body>

<!-- Content -->

<div class="w3-content" style="max-width:100%;margin-top:0px;margin-bottom:80px">
  <!-- Grid -->
  <div class="w3-row w3-container">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What We Offer</span>
    </div>
    <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
      <a href="http://teamd5.s3-website-us-east-1.amazonaws.com/#/home">
      <h3>Jobs/Users heatmap</h3>
      <p>US users and jobs distribution and statistics</p></a>
    </div>
    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
      <a href="http://teamd5.s3-website-us-east-1.amazonaws.com/#/sunburst">
      <h3>Sunburst Career Path</h3>
      <p>Career paths your peers took to reach your target job</p></a>
    </div>

    <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
      <a href="http://teamd5.s3-website-us-east-1.amazonaws.com/#/profile">
      <h3>Job Recommendation</h3>
      <p>Job recommendations based on our data and yours</p></a>
    </div>

    <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
      <a href="http://teamd5.s3-website-us-east-1.amazonaws.com/#/home">
      <h3>User Statistics</h3>
      <p>What are the backgrounds of your peers?</p></a>
    </div>
  </div>

  <!-- Grid -->
  <div class="w3-row-padding" id="plans">
    <div class="w3-center w3-padding-64">
      <h3>Welcome to Career Oracle!<br>
      Our website begins with the opportunity to explore career paths that real-world candidates 
	  are taking and ends with list of jobs that you might be interested in.
      </h3>

    </div>
  </div>

  <!-- Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
	  
    </div>
	    <div class="w3-quarter w3-margin-bottom">
      <div class="w3-card-4">
        <img src="assets/teammember/profile.png" alt="Gil" style="width:100%">
        <div class="w3-container">
          <h3>Gil Ferreira</h3>
          <p class="w3-opacity">Genius</p>
        </div>
      </div>
    </div>
	
    <div class="w3-quarter w3-margin-bottom">
      <div class="w3-card-4">
        <img src="assets/teammember/james.jpg" alt="James" style="width:100%">
        <div class="w3-container">
          <h3>James Ching</h3>
          <p class="w3-opacity">Genius</p>
        </div>
      </div>
    </div>

    <div class="w3-quarter w3-margin-bottom">
      <div class="w3-card-4">
        <img src="assets/teammember/Jill.png" alt="Jill" style="width:100%">
        <div class="w3-container">
          <h3>Jill Zhang</h3>
          <p class="w3-opacity">Genius</p>
        </div>
      </div>
    </div>
	
    <div class="w3-quarter w3-margin-bottom">
      <div class="w3-card-4">
        <img src="assets/teammember/profile.png" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>John Kim</h3>
          <p class="w3-opacity">Genius</p>
        </div>
      </div>
    </div>
	
    <div class="w3-quarter w3-margin-bottom">
      <div class="w3-card-4">
        <img src="assets/teammember/Khoa.JPG" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>Khoa Lieng</h3>
          <p class="w3-opacity">Genius</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="w3-center w3-padding-64" id="contact">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Contact Us</span>
  </div>

  <form class="w3-container" action="/action_page.php" target="_blank">
    <div class="w3-section">
      <label>Name</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Name" required>
    </div>
    <div class="w3-section">
      <label>Email</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Email" required>
    </div>
    <div class="w3-section">
      <label>Subject</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Subject" required>
    </div>
    <div class="w3-section">
      <label>Message</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Message" required>
    </div>
    <button type="submit" class="w3-button w3-block w3-black">Send</button>
  </form>

</div>

<!-- Footer -->

<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
  <h4>Footer</h4>
  <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</footer>


</body>
</html>

