<div class="accordion" id="recommendlist">
  <div class="card">
    <div class="card-header">
      <p class="lead">Career Planning</p>
    </div>
    <div class="card-body">
      <h5 class="card-title" *ngIf="user.name">{{user.name}}, Major : {{user.major_input}}</h5>
      <p class="lead text-danger" *ngIf="!user.name">We are showing some generic jobs. Go to the profile page to get custom list just for you!</p>

      <div class="accordion">
        <div class="card" *ngFor="let result of results; let i = index">
          <div class="card-header" [id]="'heading' + i.toString()">
            <h2>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i.toString()" aria-expanded="false" [attr.aria-controls]="'collapse' + i.toString()">
                {{result.Title}}
              </button>
              <span class="badge badge-pill badge-warning" style="font-size: 12px; vertical-align:middle">{{result.Score}}</span>
            </h2>
          </div>
          <div [id]="'collapse' + i.toString()" class="collapse" [attr.aria-labelledby]="'heading' + i.toString()" data-parent="#recommendlist">
            <div class="card-body" innerHTML="{{result.Description}}"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
