<div class="card mt-1">
      <div class="card-header"><p class="lead">Career path explorer</p>
      <select data-placeholder=".NET PROGRAMMER" class="select" id="jobDropdown">
        <option value=""></option>
      </select>
    </div>
    <div class="card-body">
      <div class="text-center">
        <div *ngIf="loading" class="lds-ring-dark"><div></div><div></div><div></div><div></div></div>
        <p *ngIf="loading" class="lead">One second while we load some info.</p>
      </div>

      <div id="chart">
        <div id="explanation">
          <p class="lead"></p>
        </div>
        <div id="sequence">
          <p>Job History
            <span>Latest to oldest.</span></p>
        </div>
      </div>
    </div>
</div>
