.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

#sidebar {
    float: right;
    width: 100px;
  }
  
  #sequence {
    width: 600px;
    height: 70px;
  }
  
  #legend {
    padding-right: 2em;
    right: 0px;
    top: 2.0em;
    margin: auto;
    position: absolute;
  }
  
  #sequence text, #legend text {
    font-weight: 200;
    fill: #fff;
  }
  
  #chart {
    position: relative;
  }
  
  #chart path {
    stroke: #fff;
  }
  
  /* TODO: This is hacky. fix it once we have better data */
  @media (max-width: 1024px) {
    #explanation {
        position: absolute;
        top: 39%;
        left: 26%;
        width: 10em;
        text-align: center;
        color: #666;
        z-index: 100;
      }
      
  }

  @media (min-width: 1024px) {
    #explanation {
        position: absolute;
        top: 39%;
        left: 27%;
        width: 15em;
        text-align: center;
        color: #666;
        z-index: 100;
      }
      
  }

  #percentage {
    font-size: 2em;
  }