SUNBURST
<div class="card mt-5">
    <div class="card-header"><p class="lead">Career path explorer</p></div>
    <div class="card-body-white">
      <div *ngIf="loading" class="lds-ring"><div></div><div></div><div></div><div></div></div>
      
      <div id="chart">
        <div id="sequence"></div>
        <div id="legend"></div>

        <div id="explanation" style="visibility: hidden;">
          <span id="percentage"></span><br/>
              of visits begin with this sequence of pages
        </div>
      </div>

    </div>
</div>
